// https://www.materialpalette.com/green/grey

// green theme
$primary-color-dark: #388E3C;
$primary-color: #4CAF50;
$primary-color-light: #C8E6C9;
$primary-color-text: #FFFFFF;
$accent-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

// headers
// small
$small-topbar-header: #f1f1f1;
$small-topbar-header-greeting: gray;
$small-topbar-header-height: 35px;
// big
$big-topbar-header: #f1f1f1;
$big-topbar-header-height: 65px;

// sidebar
$sidebar-width: 250px;

$default-font: sans-serif;
