.onoff-container i {
    font-size: 46px !important;
    padding-top: 10px;
}

.fa.fa-toggle-on {
    color: #6fa623 !important;
}

.fa.fa-toggle-off {
    color: #65778a !important;
}

.statusOn {
    color: #6fa623 !important;
    font-size: 16px !important;
    margin-top: -10px;
}

.statusOff {
    color: #65778a !important;
    font-size: 16px !important;
    margin-top: -10px;
}