/***/
/* USES SPRITE.PNG */
/***/
#login_logo,
#sidebar_header,
#homepage_sidebar_logo,
#quicklinks_tools,
/*#quicklinks_searchbox,*/
#quicklinks_header_box,
#quicklinks_dropdown,
#task_tools,
.timelineDateOver,
#task_searchbox,
#task_search_container,
#task_header_box,
#task_dropdown,
#sidebar_mickey_pluto,
#notepad_header_left,
#notepad_header_right,
#notepad_text_top_left,
#notepad_text_top_right,
#notepad_text_bottom_left,
#notepad_text_bottom_right,
#notepad_footer_left,
#notepad_footer_right,
#agency_inactive_content,
/*#announcement_star,*/
#latin_america_consumer_direct,
#walt_disney_text,
#walt_disney_disneyland,
#walt_disney_aulani,
#announcement_image,
#announcement_image_new,
#announcement_image_bottom,
#announcement_image_urgent,
#announcement_pagination_container > a,
#discovery_pin_top_right,
#login_waltdisney_logo,
/*#hompage_main_menu > ul > li > a:hover,*/
#announcement_container_top_left,
#announcement_container_top_right,
#announcement_container_bottom_left,
#announcement_container_bottom_right,
#homepage_systemdate,

#sidebar_form_help_content,
#login_info_left,
#login_info_right,
#top_panel_left,
#homepage_corner_topleft,
#homepage_corner_topright,
#homepage_corner_bottomleft,
#homepage_corner_bottomright,
/*.leftPanel,*/
/*.loginField > input,*/
.quicklinksTableTopLeft,
.quicklinksTableTopRight,
.quicklinksTableRowLeft,
.taskTableRowLeft,
.quicklinksTableRowRight,
.taskTableRowRight,
.quicklinksTableBottomLeft,
.taskTableBottomLeft,
.quicklinksTableBottomRight,
.taskTableBottomRight,
/*.quicklinksTableRow,*/
/*.taskTableTop,*/
/*.taskTableRow td,*/

/*.taskTableTd,*/
.homepageMenuTop,
.homepageMenuBody > ul >li,
.homepageMenuBottom,

/*.quicklinksTableRowBottom,*/
/*.quicklinksToolsTop > div,*/
/*.quicklinksToolsBottom > div,*/
/*.quicklinksToolsForm,*/
/*.quicklinksToolsBody,*/
/*.taskTableRowBottom,*/
/*.taskToolsTop > div,*/
/*.taskToolsBottom > div,*/
/*.taskToolsForm,*/
/*.taskToolsBody,*/
/*.quicklinksMiddleListSelected,*/
/*.taskMiddleListSelected,*/
/*.topSubMainNav,*/
.homepageKeyLogout,
/*.topSubMainNav > ul > li,*/
.homepageMainCover,
.topSubMainNavBottom,
.topSubMainNavTop,
.jspTrack,
.jspArrowDown,
.jspDrag,
.errorLeft,
.errorRight,
.errorArrow,
.successLeft,
.successRight,
.successArrow,

.tootTipLeftRed,
.tootTipRightRed,
.tootTipTopLeftRed,
.tootTipTopRightRed,
.tootTipBottomLeftRed,
.tootTipBottomRightRed,
.toolTipTopBlue,
.toolTipBottomBlue,
.toolTipTopTipBlue,
.toolTipBottomTipBlue,
.toolTipBottomTipBlueCustom,
.toolTipLeftYellow,
.toolTipRightYellow,
.toolTipTopLeftYellow,
.toolTipBottomLeftYellow,
.toolTipLeftYellowTwo,
.toolTipRightYellowTwo,
.toolTipTopLeftRed,
.toolTipLeftRedTwo,
.toolTipRightRedTwo,
.tootTipTopMidRed,
.toolTipTLYellow,
.toolTipTRYellow,
.toolTipBLYellow,
.toolTipBRYellow,
.agencyWhitePlaneIcon,
#btn_exportselected_agents,
#btn_gobacktoprofile,
.a_importexport_gobacktoprofile,
.detail_right_back_button,

#language_header_box,

.a_searchtoadd_gobacktoprofile,
.longGuestDirectoryDetailsHead,
.longGuestDirectoryDetailsFooter,

#homepage_sidebar #sidebar_header,
#homepage_sidebar #sidebar_header:hover,
#sidebar_form_help_top,
#sidebar_form_help_bottom,
#quicklinks,
#quicklinks_dropdown >ul >li,
#systembar_quicklinks_wrapper > iframe,
/*#quicklinks_bg,*/
.jspTrack,
.homepageMiddleList ul > li > a:hover,
.homepageMiddleListSelected,
.quicklinksMiddleList ul > li > a:hover,
/*.hquicklinksMiddleListSelected,*/
#announcement_list a:hover,
.homepageMiddleListSelected,
/*#quicklinkslist > li > a:hover,*/
/*.hquicklinksMiddleListSelected,*/
/*#tasklist > li > a:hover,*/
/*.htaskMiddleListSelected,*/
#sidebar_form div.error,
#searchresult_filter_input #fieldset,
.guesttable_header_asc,
.table_header_asc,
.columnSort,
.agencytable_header_desc,
.agenttable_header_asc,
.guesttable_header_asc,
#boxTear,
.buttonDivider,
.table_header_desc,
.agenttable_header_desc,
.guesttable_header_desc,
.agencytable_header_asc,
a.long_past_visit_left_button:active,
a.long_past_visit_left_button:hover,
a.long_past_visit_left_button_selected,
a.long_past_visit_left_button,
.leftHeaderCol,
a.long_past_visit_middle_button:active,
a.long_past_visit_middle_button:hover,
a.long_past_visit_middle_button_selected,
a.long_past_visit_middle_button,
a.long_past_visit_right_button:active,
a.long_past_visit_right_button:hover,
a.long_past_visit_right_button_selected,
a.long_past_visit_right_button,
.table_header_notsorted,
.agencytable_header_notsorted,
.agenttable_header_notsorted,
.guesttable_header_notsorted,
/*#discovery_sidebar_pin_top,*/
#ipo_sidebar_default_resort_reservation_top,
#ipo_sidebar_travel_party_list_top,
#ipo_sidebar_travel_party_activity_top,
.rightHeaderCol,
.activityTaskDetailsLeft,
.activityTaskDetailsRight,
#timeline-shadow-left,
#timeline-shadow-right,
.gradientLightBlueBoxLeft,
.gradientLightBlueBoxRight,
.viewableToggleUpLeft,
.viewableToggleUpRight,
.viewableToggleOverLeft,
.viewableToggleOverRight,
.viewableToggleDownLeft,
.viewableToggleDownRight,
.loginInputFocusLeft,
.loginInputFocusRight,
.loginInputLeft,
.loginInputRight,
#discovery_dropdown:hover,
.grayBoxProfileTopLeft,
.grayBoxProfileTopRight,
.grayBoxProfileBottomLeft,
.grayBoxProfileBottomRight,
#grandgathering_top_left,
#grandgathering_top_left_search,
#grandgathering_top_right,
#grandgathering_bottom_right,
#grandgathering_bottom_left,
#grandgathering_bottom_left_search,
#grandgathering_sidebar_innerbg,
#grandgathering_file_stack_top,
#grandgathering_file_stack_bottom,
#grandgathering_file_stack_body > a,
#grandgathering_find_button,
/*#guestpage_sidebar_wrapper,*/
/*#agency_sidebar_innerbg,
#agency_sidebar_innerbg_filestack_details,
#agency_sidebar_wrapper #agency_sidebar_innerbg,
#agent_sidebar_wrapper #agency_sidebar_innerbg,
#grand_gathering_tab,*/
#discovery_top_right,
#discovery_bottom_left,
#discovery_bottom_right,
#discovery_mode_bottom_right,
.discoveryFilterSearchBoxLeft,
.discoveryFilterSearchBoxRight,
/*#discovery_find_button,*/
.discoverAddressSelect,
.tabControlTop,
.tabControlBottom,
.tabControlTopDisabled,
.tabControlBottomDisabled,
/*#discovery_search_add_body,*/
/*#discovery_search_add_view_body,*/
#discovery_search_add_form_container,
.discoveryAnonymousInquiry,
.searchAddResultsBottomRight,
.discoveryAnonymousSidebarIcon,
/*.discoveryGuestSectionWrapper,*/
.discovery_mode_bottom_right,
#discovery_mode_top_right,
#discovery_mode_agency_bottom_right,
#ipo_sidebar_background_bottom,
/*#discovery_sidebar_package_form,*/
#discovery_sidebar_pin_bottom,
/*#discovery_sidebar_package_bottom,*/
/*#discovery_sidebar_package_form,*/
.optionSelected,
.agentSelectDescLeftUp,
.agentSelectDescLeftDown,
.agentSelectDescRight,
#travel_agent_find_container_left,
#travel_agent_find_container_right,
#reservation_tabo_body_innerwrapper_right_open_itinerary,
#interaction_top_left,
#interaction_top_left_search,
#interaction_top_right,
#interaction_bottom_right,
#interaction_bottom_left,
#interaction_bottom_left_search,
/*#interaction_sidebar_innerbg,*/
/*#interaction_find_button,*/
#reservation_top_left,
#reservation_top_left_search,
#reservation_top_right,
#reservation_bottom_right,
#reservation_bottom_left,
#reservation_bottom_left_search,
/*#reservation_sidebar_innerbg,*/
#reservation_file_stack_top,
#reservation_file_stack_bottom,
/*#reservation_file_stack_body_main,*/
#reservation_file_stack_body_separator,
#reservation_file_stack_top_yellow,
#reservation_file_stack_bottom_yellow,
/*#reservation_sidebar_innerbg_filestack_details,*/
/*#reservation_find_button,*/
.reservationBottomLeftGreen,
.grandGatheringHeaderBottom,
.reservationTabLeft,
.reservationTabRight,
#agency_file_stack_body_separator,
/*.interactionTabLeft,*/
#reservation_tabo_body_innerwrapper_left,
#reservation_tabo_body_innerwrapper_right,
/*#reservation_file_stack_datatip,*/
/*#passport_admin .valueDetailsInfo,*/
/*#passport_admin .publishAndExpireContainer,*/
.roundLightBlueLeftInput,
.roundLightBlueRightInput,
#timeline_prev_navigation,
#timeline_next_navigation,
#timeline_next_navigation:hover,
#timeline_next_navigation_disabled,
#timeline_prev_navigation_disabled,
#timeline_date_control,
#timeline_prev_button,
#timeline_next_button,
/*#interaction_search_filter_searchbox,*/
/*#timeline_current_day,*/
.timelineArrow,
.timelineIndicator,
.timelineIndicatorSelected,
.timelineTicks li a,
.timelineNextDisabled,
.timelinePreviousDisabled,
.timelineDateText,
.activity,
/*#interactions_guest_profile_navigation,*/
#interactions_guest_profile_navigation_bottomfiller,
/*.selectedTreeInteractions,*/
.grayBoxContainerTopLeft,
.grayBoxContainerTopRight,
.grayBoxContainerBottomLeft,
.grayBoxContainerBottomRight,
.taskTableTopLeft,
.taskTableTopRight,
.activityTaskOverlayLeft,
.activityTaskOverlayRight,
.quicklinksTopLeft,
.quicklinksTopRight,
.quicklinksBottomLeft,
.quicklinksBottomRight,
.taskLeftHeaderEdge,
.taskRightHeaderEdge,
.arrowEdgeForward,
.arrowEdgeForward2,
.arrowEdgeBackward,
.reservationFindButtonLeft,
.reservationFindButtonRight,
.reservationSidebarTopLeft,
.reservationFilestackBodyLeft,
.reservationFilestackBodyRight,
#passport_admin .publishBGLeft,
#passport_admin .publishBGRight,
#passport_admin .valueDetailsInfoLeft,
#passport_admin .valueDetailsInfoRight,
.selectedAgentDataTipArrow,
.selectedAgentDataTipLeft,
.selectedAgentDataTipRight,
.discoverySidebarPackageLeft,
.discoverySidebarPackageRight,
.discoverySidebarPackageBottom,
.announcementListOverLeft,
.announcementListOverRight,
.quicklinkSearchLeft,
.quicklinkSearchRight,
#discovery_top_left,
.toolTipTopHorizontalBlue,
.toolTipBottomHorizontalBlue,
.toolTipLeftTipHorizontalBlue,
.toolTipRightTipHorizontalBlue,
.daySelectedArrow,
.comboRequired .comboLeft,
.comboRequired .comboRight,
.comboError .comboLeft,
.comboError .comboRight,
.comboLeft,
.comboRight,
.comboRightNoArrow,
#detail_main_info_left,
#detail_main_info_right,
/*#agency_export_button,
#agency_import_export_button,
#agency_import_export_button_disabled,
#agency_importexport_min,
#agency_importexport_min_slide,
*/
.importexport_footer,
.importexport_footer_ext,
#searchresult_filter_right_container,
#searchresult_filter_right,
.ggGreenButtonLeft,
.ggGreenButtonRight,
.longGreenButtonLeft,
.longGreenButtonRight,
/*.guestResortEntry,*/
/*.guestCherishedLocationEntry,*/
/* .cherishedFriendResortEntry, */
/*.greenButtonLeft,
.greenButtonRight,
.duplicates,*/
.checkboxChecked,
.preferences-checkbox-checked,
/*.preferencesCheckboxChecked,*/
.doNothingButton,
.removeButton,
/*#agency_file_stack_body_main,
.travelAgentListSelected,
.agentSelected,*/
/*#guest_container,*/
/*#agent_container,*/
#guest_view_header_text,
/*#searchresult_filter_searchbox,*/
#guest_view_header_left,
#guest_view_header_right,
/*#guest_alert,*/
/*#guest_search_to_add_button,
#guest_search_to_add_anchor,*/
#guest_search_to_add_result_caption_icon,
#agent_searchresult_filter_right_container,
#travel_agency_container,
/*#sidebar_innerbg,*/
/*#travel_agent_list ul li:hover,*/
/*#travel_agent_find_container>div,*/
/*#homepage_sidebar_content,*/
#guest_list_filter,
.guestListFilter,
#agency_view_header_text,
/*#travel_agency_filter_container,*/
#guest_view_footer_left,
#guest_view_footer_right,
#guestpage_corner_topleft,
#guestpage_corner_topright,
#guestpage_corner_bottomleft,
#guestpage_corner_bottomright,
/*.guestViewListSelected,*/
/*.guestOtherEntryTop,*/
/*.guestOtherEntryBody,*/
/*.guestOtherEntryExpanded,*/
/*.guestOtherEntryBottom,*/
.leftInputField,
.rightInputField,
.arrowInputField,
.past_visit_left_button,
.past_visit_middle_button,
.past_visit_middle_button_selected,
/*.selectedTree,*/
.past_visit_right_button,
.close_session_button,
.iconAddressCombo,
.iconVisibleArrow,
.guestDirectoryDetailsTopLeft,
.guestDirectoryDetailsTopRight,
.guestDirectoryDetailsBottomLeft,
.guestDirectoryDetailsBottomRight,
/*.guest_comment_table thead,*/
.guestListSelected,
.left_gray_button,
.right_gray_button,
/*.guestAddessEntryNotPrimary,*/
/*.guestAddessEntryExpandedTop,*/
/*.guestAddessEntryExpandedBody,*/
/*.guestAddessEntryExpandedBottom,*/
.dropDownTop,
.dropDownBottom,
#sidebar_container fieldset#fieldset-agency_group > div,
#sidebar_container fieldset#fieldset-names > div,
/*#guest_search_to_add_sidebar_form #sidebar_container,*/
#sidebar_itinerary_form fieldset#fieldset-start_date_range > div,
#sidebar_task_form fieldset#fieldset-due_date_range > div,
#sidebar_task_form fieldset#fieldset-start_date_range > div,
#sidebar_task_form fieldset#fieldset-assignment > div,
#sidebar_activity_form fieldset#fieldset-start_date_range > div,
.detail_button_disabled,
.popupHeadLeft,
.popupHeadRight,
/*.popupHeader,*/
.topRightLightYellowCorner,
.bottomRightLightYellowCorner,
.lightBlueMidGradientLeft,
.lightBlueMidGradientRight,
.guest_sprite_full,
.roundFilterBoxLeft,
.roundFilterBoxRight,
.searchToAddButtonLeft,
.searchToAddButtonRight,
.searchToAddAnchorLeft,
.searchToAddAnchorRight,
.directorySelectedTreeLeft,
.directorySelectedTreeRight,
.guestAlertBoxLeft,
.guestAlertBoxRight,
.gradientSkyBlueBarLeft,
.gradientSkyBlueBarRight,
.pinInformationBottomRight,
.blueHouseIcon,
#global_search_bottom_right,
#new_reservation_indicator,
.overlayheader .left,
.overlayheader .right,
.overlayfooter .left,
.overlayfooter .right,
.ipoHeaderLeft,
.ipoHeaderRight,

/* IPO */
.ipoCompressedView,
.ipoCompressedViewSelected,
.ipoExpandedView,
.ipoExpandedViewSelected,
.ipoSelectBlueLeft,
.ipoSelectBlueRight,
.resortMagicKingdom,
.resortEpcot,
.resortAnimalKingdom,
.resortHollywoodStudios,
.resortOther,
.resortEspn,
.resortTyphoon,
.resortBlizzard,
.ipoCalendarPrev,
.ipoCalendarNext,
.ipoTimeHalfRound,
.ipoTimeHalfRoundSelected,
.ipoTimeStatusRounded,
.ipoTimeTaskRounded,
.ipoTimeLocation,
.ipoTimeLocationSelected,
.ipoTimeLocationInner,
.ipoTimeLocationInnerSelected,
.ipoFlagMagicKingdom,
.ipoFlagEpcot,
.ipoFlagAnimalKingdom,
.ipoFlagStudios,
.ipoFlagOther,
.ipoFlagEspn,
.ipoFlagTyphoon,
.ipoFlagBlizzard,
.ipoTimeSpacerRoundedTopRight,
.ipoTaskIcon,
.ipoTimeLocationLeft,
.ipoTimeLocationRight,


.ipoVIPTopLeft,
.ipoVIPTopRight,
.ipoVIPBottomLeft,
.ipoVIPBottomRight,
.ipoJumpQtr,
.ipoJumpHalf,
.ipoJumpFull,
.ipoJumpMoon,
.ipoActivityHeadViewable,
.ipoActivityHeadNonViewable,
.ipoActivityHeadSelected,
.ipoActivityHeadSharedViewable,
.ipoActivityHeadSharedNonViewable,
.ipoActivityHeadSharedSelected,
.ipoActivityHeadRed,
.ipoViewableShared .ipoTimeLocationHeadLeft,
.ipoTPIMainLeft,
.ipoTPIMainRight,
.ipoHead.selected,
#ipo_tpi_table_pointer,
.ipoSelectedPointer,
.ipoTPGuestSelected,
#edit_activity_attendees_header,
.ipoTimeLocationBottomSpacer .right,
.ipoTimeLocationBottomSpacer .left,
.editActivityMenu:hover > div,
.editActivityMenu.selected > div,
.editActivityMenu:hover dt,
.editActivityMenu.selected dt,
#my_taskbook_header .left,
#my_taskbook_header .right,
.ipoTimePriorityTopSpacer .left,
.ipoTimePriorityTopSpacer .right,
.ipoTimePriorityBottomSpacer .left,
.ipoTimePriorityBottomSpacer .right,
.toolTipFluidYellow > .top > .left,
.toolTipFluidYellow > .top  > .right,
.toolTipFluidYellow > .bottom > .left,
.toolTipFluidYellow > .bottom  > .right
{
	background-image: url(/style/images/sprite.png);
}

/***/
/* USES MAIN-SPRITE.PNG */
/***/

/* .ipoCompressedView,
.ipoCompressedViewSelected,
.ipoExpandedView,
.ipoExpandedViewSelected,
.ipoSelectBlueLeft,
.ipoSelectBlueRight,
.resortMagicKingdom,
.resortEpcot,
.resortAnimalKingdom,
.resortHollywoodStudios,
.resortOther,
.ipoCalendarPrev,
.ipoCalendarNext,
.ipoTimeHalfRound,
.ipoTimeHalfRoundSelected,
.ipoTimeStatusRounded,
.ipoTimeTaskRounded,
.ipoTimeLocation,
.ipoTimeLocationSelected,
.ipoTimeLocationInner,
.ipoTimeLocationInnerSelected,
.ipoFlagMagicKingdom,
.ipoFlagEpcot,
.ipoFlagAnimalKingdom,
.ipoFlagStudios,
.ipoFlagOther,
.ipoTimeSpacerRoundedTopRight,
.ipoTaskIcon,
.ipoTimeLocationLeft,
.ipoTimeLocationRight,


.ipoVIPTopLeft,
.ipoVIPTopRight,
.ipoVIPBottomLeft,
.ipoVIPBottomRight,
.ipoJumpQtr,
.ipoJumpHalf,
.ipoJumpFull,
.ipoJumpMoon,
.ipoActivityHeadViewable,
.ipoActivityHeadNonViewable,
.ipoActivityHeadSelected,
.ipoActivityHeadSharedViewable,
.ipoActivityHeadSharedNonViewable,
.ipoActivityHeadSharedSelected,
.ipoViewableShared .ipoTimeLocationHeadLeft,
.ipoTPIMainLeft,
.ipoTPIMainRight,
#ipo_tpi_table_pointer,
#ipo_tpi_unidentified_counter,
.ipoSelectedPointer,
.ipoTPGuestSelected,
#edit_activity_attendees_header
{
	background: url(/style/images/main-sprite.png);
} */

/***/
/* USES BUTTONS.PNG */
/***/
#errorBody #errorBtnBack
{
	background-image: url(/style/images/buttons.png);
}

/***/
/* USES ICONS.PNG */
/***/
.jquery-safari-checkbox img,
.jquery-safari-checkbox-hover img,
.jquery-safari-checkbox-checked img,
.jquery-safari-checkbox-disabled img,
#quicklink_search_container,
.errorAlert,
.iconAdminMickeyUp,
.iconAdminMickeyOver,
.iconAdminMickeyDown,
.iconAdminMickeyDisabled,
.iconDatePickerUp,
.iconDatePickerOver,
.iconDatePickerDown,
.iconDatePickerDisabled,
#notes_icon,
#hompage_sidebar_collapse_link,
#agency_file_stack_body_remove,
#agency_file_stack_body_main>a,
.systemDivider,
#detail_agency_alert,
.iconGuestX,
.iconInteractionX,
#detail_alert,
#detail_merge_indicator,
#detail_deceased_indicator,
.iconDuplicate,
.iconAddress,
.iconPhone,
.iconEmail,
.iconAnchorGrey,
.iconDeceased,
.iconRequired,
.iconRemoveLocation,
.iconRemoveAddress,
.iconRemoveContactInfo,
.iconRemoveEmailInfo,
.iconRemoveNavigation,
.iconRemoveResort,
.iconRemoveAmenity,
.iconBullet,
.iconBulletEmpty,
.iconStar,
.iconIndicator,
.iconSearchAddArrow,
.iconClearMickey,
.iconClearOPT,
.iconClearOPTDisabled,
.iconToggles,
.iconUnToggles,
.iconTogglesOPT,
.iconUnTogglesOPT,
.iconX,
.iconCalendar,
.iconWarning,
.iconPersonRemove,
.iconAgentMagnifying,
.iconUpdateState,
.iconDrownArrow,
.iconNotepad,
.iconPlus,
.iconRemoveAgent,
#detail_agent_alert,
#detail_alert_popup,
#reservation_file_stack_body_main a,
#reservation_file_stack_body_remove,
#reservation_file_stack_body>a,
#reservation_file_stack_body_yellow>a,
#reservation_travel_with_cancel,
#reservation_grand_gathering_cancel,
#pagination-prev,
#pagination-next,
/*#guest_maxcount_help,*/
.topPanelDivider,
#agency_form_inactive,
#agency_sidebar_collapse_link,
#search_result_search_container,
#agency_filter_container,
#agency_details_filter_container,
.announcementInboxNew,
.searchFilterClear,
.iconSearchMagnifying,
#quicklinks_magnifying,
#task_magnifying,
#notepad_resize_button,
.successAlert,
#agency_form_inactive,
#sidebar_form_help,
#sidebar_form_ipo_help,
.sidebar_form_ipo_help,
.callerButtonEnable,
.iconCanadaFlag,
iconUsFlag,
#icon_lastupdate,
#icon_lastupdate_popup,
#announcement_navigation .announcementPrevious,
#announcement_navigation .announcementNext,
.headerNotSorted,
.headerSortedAscended,
.headerSortedDescended
{
	background-image: url(/style/images/icons.png);
}