<div class="kng-header">
    <div class="kng-header-title kng-text-ellipsis ng-binding"> <i class="kng-icon kng-icon-location-magic-kingdom wdw-icon"></i> WDW APPS MANAGER</div>
    <i alt="" title="" class="kng-icon kng-icon-menu"  ng-class="{hidden: menuGroups.length===0}"
        role="button" tabindex="0"></i>
    <div class="ng-scope">
        <div class="ng-isolate-scope">
            <button class="kng-profile-header-button ng-binding" aria-hidden="false">MM</button>
            <div class="kng-profile-header-logout kng-text-ellipsis ng-binding" role="button" tabindex="0">Sign Out</div>
        </div>
    </div>
</div>