<div id="toggles-container">
  <div class="card">
    <div class="card-header success-color white-text">
      <i class="fa fa-exchange" aria-hidden="true"></i> Toggle Administration
    </div>
    <div class="card-body">
      <h4 class="card-title">Select and update specific toggle</h4>

      <div *ngIf="res; then ThenBlock; else ElseBlock">
      </div>

      <ng-template #ThenBlock>
        <p class="card-text">
          Environment: {{res.environment}}
          <br>
          Cluster: {{res.cluster}}
          <br>
          App Version: {{res.applicationVersion}}
        </p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Toggle Name</th>
              <th>Description</th>
              <th>Type</th>
              <th>Status Value</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let toggle of res.toggles">
              <td>{{toggle.feature}}</td>
              <td>{{toggle.description}}</td>
              <td>{{toggle.type}}</td>
              <td *ngIf='toggle.type === "on-off" '>{{toggle.enabled}}</td>
              <td *ngIf='toggle.type !== "on-off" '>{{toggle.constraints | json}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  edit
                </button>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  remove
                </button>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-history" aria-hidden="true"></i>
                  history
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template #ElseBlock>
        <div>
          <b>Service not working.</b>
        </div>
      </ng-template>
    </div>
  </div>
</div>