<div id="toggles-container">
  <div class="card">
    <div class="card-header success-color white-text">
      <i class="fa fa-exchange" aria-hidden="true"></i> Toggle Administration
    </div>
    <div class="card-body">
      <h4 class="card-title">Select and update specific toggle</h4>
      <p class="card-text">
        Enable or Disable

      </p>
       
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:70px;">Status</th>
            <th>Name</th>

            <th style="width:350px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <h4>
                <i class="fa fa-toggle-on" aria-hidden="true"></i>
              </h4>
            </th>
            <td>Mark</td>

            <td>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-edit" aria-hidden="true"></i> edit
                </button>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-history" aria-hidden="true"></i>
                  history
                </button>
              </td>
          </tr>
          <tr>
            <th scope="row">
              <h4>
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
              </h4>
            </th>
            <td>Jacob</td>

            <td>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-edit" aria-hidden="true"></i> edit
                </button>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-history" aria-hidden="true"></i>
                  history
                </button>
              </td>
          </tr>
          <tr>
            <th scope="row">
              <h4>
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
              </h4>
            </th>
            <td>Jacob</td>

            <td>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-edit" aria-hidden="true"></i> edit
                </button>
                <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                  <i class="fa fa-history" aria-hidden="true"></i>
                  history
                </button>
              </td>
          </tr>
          <tr>
            <tr>
              <tr>
                <th scope="row">
                  <h4>
                    <i class="fa fa-toggle-off" aria-hidden="true"></i>
                  </h4>
                </th>
                <td>Jacob</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                    <i class="fa fa-edit" aria-hidden="true"></i> edit
                  </button>
                  <button type="button" class="btn btn-sm btn-primary waves-light" mdbWavesEffect>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    history
                  </button>
                </td>
              </tr>

        </tbody>
      </table>
    </div>

  </div>


  <div>