#right-content{

    padding-right: 0px!important;  
    padding-left: 0px!important;  
}
#left-sidebar{
    padding-right: 0px!important;  
    padding-left: 0px!important; 
    
    height: 100%;
    background: url(/assets/img/home_sidebar.jpg);
    position: relative;
    z-index: 5;
    margin: 0 0 0 -1px;
}
.row {
 
    margin-right: 0px;
    margin-left: 0px;
}

#passport-app {
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 2px solid #edf3ff;
margin: 0px;
overflow: hidden;
}