.modal-background {
    background-color: white;
}

.modal-dialog.modal-success .modal-header {
    background-color: #6fa623 !important;
    h4 {
        color: #fff !important;
    }
    button.close.pull-right span,
    .close:hover,
    .close:focus {
        color: #fff !important;
    }
}

.modal-dialog.modal-info .modal-header {
    background-color: #253b56 !important;
    h4 {
        color: #fff !important;
    }
    button.close.pull-right span,
    .close:hover,
    .close:focus {
        color: #fff !important;
    }
}

@media (min-width: 700px) {
    .modal-dialog {
        width: 50%;
        margin: 1.75rem auto;
    }
}