<div>
    <label>Type: </label>
    <app-select-form [selectValues]="selectValues" [defaultValue]="type" (selectedValue)="updateSelectedType($event)"></app-select-form>
</div>

<div class="container">
    <div *ngIf="type!=='on-off'; then ThenBlock; else ElseBlock">
    </div>
    <ng-template #ThenBlock>
        <app-constraints-form [constraints]="constraints" (constraintsEvent)="updateConstraints($event)"></app-constraints-form>
    </ng-template>
    <ng-template #ElseBlock>
        <div>
            <app-on-off-button [enabled]="toggle.enabled" (selectedValue)="updateSelectedOnOffState($event)"></app-on-off-button>
        </div>
    </ng-template>
    <button (click)="editToggle()" type="submit" class="btn btn-success">Edit</button>
</div>