@import "../../../../assets/style/theme/index";

.body {
   
    margin: 8px;
    padding:8px;
}
#app-header-container{

    padding-left: 0px!important;
    padding-right: 0px!important;

}
#app-content-container{

    padding-left: 0px!important;
    padding-right: 0px!important;

}
#right-container{
width:100%;
margin-left: 0px;
}

