<div class="container">
    <div *ngIf="toggle.type!=='on-off'; then ThenBlock; else ElseBlock">
    </div>
    <ng-template #ThenBlock>
        <app-constraints-form (const)="updateConstraints($event)"></app-constraints-form>
        <hr>
        <button (click)="testToggle()" type="button" class="kng-button-primary-blue kng-button-icon pull-right">
            <i class="fa fa-eye" aria-hidden="true"></i> 
            Test toggle
        </button>
    </ng-template>
    <ng-template #ElseBlock>
        <button (click)="testToggle()" type="submit" class="btn btn-success">Test</button>
    </ng-template>
</div>

<app-custom-modal #info title="Test Info" [options]="testResultModalOptions">
    <p>{{message}}</p>
</app-custom-modal>