/* You can add global styles to this file, and also import other style files */

body {
    background: url(/assets/img/body-rep.png) repeat-x #1994D7;
    background-position: left top;
    overflow: hidden;
}

